html,
body {
  height: 100%;
}

body {
  perspective: 150px;
}

.button {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: .8em;
  display: block;
  padding: 13px 50px 12px;
  color: #263238;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 4px solid #263238;
  background-color: #F1F0F0;
  outline: none;
  text-decoration: none;
}

.button:hover {
  text-decoration: none;
  color: #263238;
}
